# Other Libraries
js/vendor/*
js/spec/vendor/*

# Compiled Coffeescript
js/App.js
js/spec/Spec.js
js/Views.js
js/Routers.js
js/Models.js
js/Collections.js

# Temp Files
temp/*

# Server Files for Development
server.js
node_modules/*