<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="shortcut icon" type="image/png" href="js/spec/vendor/jasmine-1.2.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="js/spec/vendor/jasmine-1.2.0/jasmine.css">
  <script type="text/javascript" src="js/spec/vendor/jasmine-1.2.0/jasmine.js"></script>
  <script type="text/javascript" src="js/spec/vendor/jasmine-1.2.0/jasmine-html.js"></script>
  <script type="text/javascript" src="js/spec/vendor/sinon.js"></script>
  <script type="text/javascript" src="js/spec/vendor/jasmineSinon.js"></script>

  <!-- include other libraries here -->
  <script type="text/javascript" src="js/vendor/underscore.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.js"></script>
  <script type="text/javascript" src="js/vendor/backbone.js"></script>
  <script type="text/javascript" src="js/vendor/backboneLocalStorage.js"></script>
  <script type="text/javascript" src="js/vendor/marked.js"></script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="js/spec/Spec.js"></script>

  <!-- Templates! -->
  <script type="text/template" id="page_template">
    <div class="page">
      <h1><%= title %></h1>
      <p><%= parsedBody %></p>
      <ul>
        <li><a href="edit">edit</a></li>
        <li><a href="delete">delete</a></li>
        <li><a href="links">all links</a><li>
      </ul>
      <textarea cols="60" rows="120" class="edit"></textarea>
    </div>
  </script>

  <!-- include source files here... -->
  <script type="text/javascript" src="js/SpinalWiki.js"></script>
  <script type="text/javascript" src="js/Models.js"></script>
  <script type="text/javascript" src="js/Collections.js"></script>
  <script type="text/javascript" src="js/Views.js"></script>
  <script type="text/javascript" src="js/Routers.js"></script>


  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
</body>
</html>
